@import "../../media-queries";

.chartRoom {
  width: 49%;

  @include sm {
    width: 100%;
    justify-content: center;
  }

  @include xs {
    width: 100%;
    justify-content: center;
  }

  & .chartRoom__name {
    margin-bottom: 1rem;
  }

  .chartRoom__bars {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 330px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1rem;

    @include xs {
      justify-content: center;
    }
  }
}