@import '../../media-queries';

.charts {


  & .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    @include xs {
      justify-content: center;
    }
  }
}