@import '../../media-queries';

.charts {
  margin-top: 2rem;

  & .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    @include xs {
      justify-content: center;
    }
  }
}