.charBar {
  width: 30px;
  margin-right: 1rem;

  &:last-child {
    margin: 0;
  }

  & .charBarItem {
    width: 30px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    border-radius: 10px;

    & .fill {
      position: absolute;
      bottom: 0;
      left: -1px;
      background-color: #004876;
      width: 30px;
      height: 100%;
      transition: all .4s ease-in-out;
      border-radius: 10px;
    }

    & span {
      transform: rotate(-90deg);
      color: red;
      position: absolute;
      bottom: 154px;
      width: 200px;
      left: -88px;
      font-weight: 700;
    }

    & label {
      color: #004876;
      transform: rotate(45deg);
      position: absolute;
      bottom: -34px;
      width: max-content;
      left: 5px;
    }
  }
}